.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.15);
  width: 22rem;
  margin: auto;
}

.login-form h2 {
  margin-bottom: 1.5rem;
}

.login-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid grey;
  border-radius: var(--border-radius);
  outline: none;
}

.login-form input:focus {
  border-color: var(--color-pink);
}

.login-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--color-dark-purple);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: var(--color-light-purple);
  box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}

.login-form button:active {
  background-color: var(--color-purple);
  transform: translateY(1px);
}

.signup-redirect{
  padding-top: 1rem;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .main-content{
    height: 100vh;
  }
}