.detail-wrapper { 
  display: grid;
  justify-content: center;
  gap: 1rem;
  margin-inline: 5%;
}

.detail-wrapper img { 
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin: auto;
}

.product-information { 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
}

.description  {
  padding-top: 1rem;
  grid-column: span 2;
  text-align: justify;
}

.add-to-cart-button { 
  background-color: var(--color-purple);
  color: white;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: solid 1px var(--color-dark-pink);
  width: 10rem;
  margin-left: auto;
}

.price { 
  font-size: 1.5rem;
  color: rgb(22, 100, 50);
  text-align: end;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .detail-wrapper { 
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 0;
    align-items: center;
  }

  .product-information { 
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .description { 
    margin: 0;
    padding-top: 0;
  }

  .price { 
    text-align: start;
    padding-top: 0;
  }

  .add-to-cart-button { 
    grid-column: span 2;
  }

}


@media screen and (min-width: 1400px) { 
  .detail-wrapper img { 
    width: 75%;
  }
  .description { 
    padding-right: 50%;
  }

  .add-to-cart-button { 
    margin-left: 50%;
  }
}